a {
	text-decoration: none !important;
}

input {
	caret-color: green !important;
}

hr {
	border-radius: 2px;
	height: 2px;
	background-color: #527908 !important;
}

.bgModal {
	background-color: rgba(43, 165, 137, 0.45);
}

.btn-reg-ini {
	color: #fff;
	transition: 0.5s;
}

.btn-reg-ini:hover {
	border-radius: 10px;
	background-color: #527908 !important;
	color: #fff;
	font-weight: bold;
	transform: scale(1.2,1.2);
}

.bg-are {
	background-color: #D0A03A !important;
}

.bg-image {
	background-image: url("../img/palmer.jpg") !important;
	background-position: center;
  	background-size: cover;
}

.col-btn {
	background: #527908 !important;
}

.div1 {
	height: 20px;
	background: red;
}

.hovAnim {
	transition: 0.5s;
}

.hovAnim:hover {
	transform: scale(1.03,1.03);
	/*transform: rotate(-5deg);*/
}

.tra5 {
	transition: 0.5s;
}

.hovTar:hover {
	transform: scale(1.03,1.03);
}

.icoRes:hover {
	color: #1cc88a !important;
}